{% extends "bootstrap/base.html" %}

{% block title %} nicheblog {% endblock %}

{% block body %}
<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/body.css') }}>
{{ super() }}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href={{ url_for('home.home') }}>niche's Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blogs<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">Programming</a></li>
          <li><a tabindex="-1" href="#">Being Alive</a></li>
        </ul>
      </li>
      <li><a href="#">Comments</a></li>
      <li><a href={{ url_for('about.about') }}>About</a></li>
      <li class="navbar-right"><a class="btn btn-inverse" href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <p class="text-center">Copyright  <span class="glyphicon glyphicon-copyright-mark"></span>  niche1990</p>
</nav>
{% endblock %}
